.Question {
}

.tip-container {
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    display: flex;
}

.question-title {
    margin-bottom: 1em;
}

.options {
    display: flex;
    flex-direction: column;
}